* {
  padding: 0;
  margin: 0;
  color: whitesmoke;
  font-family: "Lucida Grande";
  box-sizing: border-box;
}

body {
  background: #312e2e;
}

header {
  background: #000000;
  background: linear-gradient(0deg, #3041a0 30%, #131212 48%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid crimson;
}

.hero {
  height: 100vh;
  width: 100%;
  background-image: url("../images/thinking-final1.png");
  background-size: cover;
  background-position: center;
}

h1 {
  padding: 20px;
  display: inline-block;
  color: aqua;
  font-size: 48px;
  text-align: left;
}

nav {
  padding-top: 15px;
  margin-right: 20px;
  font-size: 25px;
  float: right;
}

nav ul li {
  margin-left: 25px;
  display: inline-flex;
  list-style-type: none;
}

a {
  color: crimson;
}

.AboutMe p {
  font-size: 20px;
  position: absolute;
  top: 1450px;
  margin-left: 300px;
}

.AboutMe h2 {
  display: inline-block;
  font-size: 50px;
  color: aqua;
  padding-right: 60px;
  border-right: 6px solid blue;
  height: 700px;
}

.Work h2 {
  display: inline-block;
  font-size: 50px;
  color: aqua;
  padding-right: 69px;
  border-right: 6px solid blue;
  height: 500px;
}

.ContactMe h2 {
  display: inline;
  font-size: 50px;
  color: aqua;
  padding-right: 24px;
  border-right: 6px solid blue;
  height: 500px;
}

.ContactMe ul li {
  font-size: 25px;
  list-style-type: none;
  color: crimson;
  display: inline;
  text-align: center;
  margin-left: 30px;
  position: relative;
  left: 300px;
  text-decoration: underline;
  padding-right: 50px;
  padding-top: 10px;
}

.card-content {
  position:absolute;
  top: 2150px;
  margin-left: 300px;
  background-color: #3041a0;
  box-shadow: 0 4px, 8px, 0 rgba(101, 191, 243, 0.2);
  transition: 0.5s;
}

.card-content:hover {
  box-shadow: 0 16px 32px 0 rgba(101, 191, 243, 0.2);
}

.container {
  padding: 2px 16px;
  text-align: center;
}